<!-- This is the wrapper for the whole collapsible list. Give it a class name so you can style it and give it a unique ID to reference later -->
<div class="collapse-list-wrapper"
    id="wrapper-id">
    <!-- This is the thing that you click on -->
    <!-- The attributes 'data-toggle', 'data-target', 'aria-controls' and 'aria-expanded' are required by Bootstrap to make the collapse work -->
    <!-- 'aria-expanded' when set to true means that the collapsible content pointed to by 'target-id' will be expanded upon loading -->
    <!-- 'target-id' should be the unique ID of the element that will be collapsed upon clicking the heading -->
    <div class="collapse-list-heading"
        data-toggle="collapse"
        data-target="#target-id"
        aria-controls="target-id"
        aria-expanded="true">
        <!-- This is the arrow element. It MUST be before the heading. -->
        <!-- The arrow includes an h1arrow class to indicate what size it should be -->
        <!-- h1arrow, h2arrow, and h3arrow classes are all available to match the size of h1, h2, and h3 -->
        <i class="arrow h1arrow"></i>
        <!-- This is the heading name. You can change to anything you want, but h1 is a good size for a title -->
        <h1> Heading Name </h1>
    </div>
    <!-- This is what gets collapsed -->
    <!-- Give this a unique ID 'target-id' so that Bootstrap knows what gets collapsed when you click on the corresponding heading -->
    <!-- include the attribute 'data-parent' and give it the ID of the list wrapper if you only want one item in the collapse list to be open at once. If 'data-parent' is not included in each target element, then all collapsible elements can be open at once -->
    <div class="collapse-list-target collapse show"
        id="target-id"
        aria-labelledby="target-id"
        data-parent="#wrapper-id">
        <p> Content goes here </p>
        <h3> It can be anything, as long as it's wrapped in the collapsible div </h3>
        <img src="https://images.pexels.com/photos/20787/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
    </div>
</div>
