
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.jpg" alt="Niklas" style="width:100%">
                <div class="container">
                    <h2>Niklas Wulkow</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Tatsiana_Aneichyk.jpeg" alt="Tatsiana Aneichyk" style="width:100%">
                <div class="container">
                    <h2>Tatsiana Aneichyk</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Issi.jpg" alt="Iskriyana Vasileva (Issi)" style="width:100%">
                <div class="container">
                    <h2>Iskriyana Vasileva (Issi)</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Elena.jpeg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Elena Leuschner</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Charlotte.jpg" alt="Charlotte Felbinger" style="width:100%">
                <div class="container">
                    <h2>Charlotte Felbinger</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/MoritzHemmerlein.jpg" alt="Moritz Hemmerlein" style="width:100%">
                <div class="container">
                    <h2>Moritz Hemmerlein</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>




<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Daniel_Kaulbach.jpg" alt="Daniel Kaulbach" style="width:100%">
                <div class="container">
                    <h2>Daniel Kaulbach</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Fynn.jpg" alt="Fynn Withake" style="width:100%">
                <div class="container">
                    <h2>Fynn Withake</h2>
                    <p class="title">Website</p>
                    <p>Thursday is my favourite day.</p>
                    <p>f.with@hotmail.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Joshua.jpg" alt="Joshua Driesen" style="width:100%">
                <div class="container">
                    <h2>Joshua Driesen</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Cymorek.JPG" alt="Marie-Helen Cymorek" style="width:100%">
                <div class="container">
                    <h2>Marie-Helen Cymorek</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Valentin.jpg" alt="Valentin Kruspel" style="width:100%">
                <div class="container">
                    <h2>Valentin Kruspel</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Catherine.png" alt="Catherine Vogel" style="width:100%">
                <div class="container">
                    <h2>Catherine Vogel</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Andreas.jpg" alt="Andreas Glücker" style="width:100%">
                <div class="container">
                    <h2>Andreas Glücker</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Sebastian Vogel" style="width:100%">
                <div class="container">
                    <h2>Sebastian Vogel</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Bart Vollebergh" style="width:100%">
                <div class="container">
                    <h2>Bart Vollebergh</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Alexander Blaessle" style="width:100%">
                <div class="container">
                    <h2>Alexander Blaessle</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Samuel Brielmaier" style="width:100%">
                <div class="container">
                    <h2>Samuel Brielmaier</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/female1.jpg" alt="Clara Kuper" style="width:100%">
                <div class="container">
                    <h2>Clara Kuper</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Alexander Blaessle" style="width:100%">
                <div class="container">
                    <h2>Alexander Blaessle</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Samuel Brielmaier" style="width:100%">
                <div class="container">
                    <h2>Samuel Brielmaier</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/female1.jpg" alt="Anna Brauer" style="width:100%">
                <div class="container">
                    <h2>Anna Brauer</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/male.png" alt="Jan Trösemeier" style="width:100%">
                <div class="container">
                    <h2>Jan Trösemeier</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>

</div>

