
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Niklas" style="width:100%">
                <div class="container">
                    <h2>Niklas Wulkow</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Tatsiana_Aneichyk.jpeg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Tatsiana</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Issi.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>Issi</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Elena.jpeg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Elena</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Charlotte.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Charlotte</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/MoritzHemmerlein.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>Moritz</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>




<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Daniel_Kaulbach.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Daniel</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Fynn.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Fynn</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Joshua.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>Joshua</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Cymorek.JPG" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Lena</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/Valentin.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Valentin</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/Andreas.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Andreas</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="../img/profile/NiklasWulkow.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p></p>
                </div>
                </div>
    </div>
</div>
