<!---->
<!--<table style="width:100%">-->
<!--    <tr>-->
<!--        <td><img src="../img/profile/Catherine.png" alt="Catherine.png"></td>-->
<!--        <td>Smith</td>-->
<!--        <td>50</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Eve</td>-->
<!--        <td>Jackson</td>-->
<!--        <td>94</td>-->
<!--    </tr>-->
<!--</table>-->
<!---->
<!---->

<div class="row">
    <div class="column">
        <div class="card">
            <img src="img1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
            
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="img2.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    
                </div>
                </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="img3.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    
                </div>
                </div>
    </div>
</div>
